<html>
<header>
<title>Aesthetic Image Captioning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="static/gui_style.css" rel="stylesheet" type="text/css">
</header>
<body>
<h1>Experiment</h1>
<div class="image_container">
<img src={{'static/'+image_caption[0]+'.jpg'}} alt={{'static/temp/'+image_caption[0]+'jpg'}}><br>
</div>
<p>{{image_caption[1][1]}}

<form action=/display_next_exp_stimuli method="post">
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="score_given">
</div>
<div align="center">
<input type="submit" value="Next">
</div>
</form>
<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div> -->
</body>
</html>